<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>form</title>
</head>


<body>
   <h1>add category form</h1>
  <form  action="/addcategory" method="POST">
     <p>
        <label > category name</label>
        <input type="text" name="name_category">
     </p>
     <input type="submit" name="add" id="btn" value="submit">
     </form>
</body>
</html>