<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update form</title>
</head>


<body>
   <h1>update category form</h1>
  <form   method="POST" action="/updatecateg">
   <p>
      <label > ID</label>
      <input type="text" name="name_category" >
   </p>
     <p>
        <label > category name</label>
        <input type="text" name="name_category" >
     </p>
    
     <input type="submit"  id="btn" value="update">
     </form>
</body>
</html>